asttokens==3.0.1
decorator==5.2.1
executing==2.2.1
graphviz==0.21
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonpickle==4.1.1
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
networkx==3.6.1
parso==0.8.6
pexpect==4.9.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyvis==0.3.2
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.6.0
